<h1>Admin::Genres#edit</h1>
<p>Find me in app/views/admin/genres/edit.html.erb</p>
ジャンル編集
<%= form_for(@genre,:url => admin_genres_path) do |f| %>
	<%= f.label :ジャンル %>
	<%= f.text_field :name %>
	<%= f.submit "変更を保存する" %>
<% end %>