<div class="text-center" style="width: 60%; margin: 0 auto; color:#694d49;">
	<h2 style="padding-top: 50px; color:#694d49;">ご購入ありがとうございました！</h2>
	<h4 style="color:#694d49;">またのご利用をお待ちしております。</h4>

	
	<h6>このページはあと５秒でトップページに移動します。
		移動しない場合は<%= link_to 'こちら', root_path %></h6>

</div>

<script>
	setTimeout(function() {
		window.location.href = "/";
	}, 5*1000);
</script>

