<h4>注文情報確認</h4>


<table class="table table-hover table-inverse">
			<thead>
				<tr>
					<th>商品名</th>
					<th>単価（仕込）</th>
					<th>数量</th>
					<th>小計</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>あああ</td>
					<td>東京都小金井市北町11-11-11</td>
					<td>山田太郎</td>
					<td>編集削除</td>
				</tr>
			</tbody>
			<thead>
				<tr>
					<th>合計値段</th>
					<th></th>
				</tr>
			</thead>
		</table>
		<h4>支払い方法</h4>
		<h4>お届け先</h4>