<div class= "container">
	<div class="row">
		<div class="col-xs-3">
			<table >
				<thead>
					<tr>
						<th>ジャンル検索</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>ケーキ</td>
					</tr>
					<tr>
						<td>焼き菓子</td>
					</tr>
					<tr>
						<td>キャンディ</td>
					</tr>
					<tr>
						<td>プリン</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-xs-9">
			<div class="box">
			  <h4 class="box_headline">
				ようこそ、NaganoCakeへ！<br>このサイトは、ケーキの販売サイトになります。<br>
			    会員でない方も商品の観覧はできますが、<br>購入には会員登録が必要となります。
		      </h4>
		    </div>
		    <h1>オススメ商品</h1>
			<tbody>
			<tr>
				 <% @products.each do |product| %>
				<th><%= attachment_image_tag(product, :image, size:'100x100', class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg") %></th>
			</tr>
			<tr>
				<td>
					<%= product.name %>
					</td>
				</tr>
				<tr>
				<td>
				   <%= product.price_tax_excluded %>
				</td>
			</tr>
				<% end %>
			</tr>
		</tbody>
		<%= paginate @products %>

		</div>
	</div>
</div>