<div class= "container">
	<div class="row">
		<div class="col-xs-3">
			ジャンル部分テンプレート
		</div>
		<div class="col-xs-9">
			<div class="box">
				<!-- 後ほどcssでマージン調整 -->
			  <h4>
				ようこそ、NaganoCakeへ！<br>このサイトは、ケーキの販売サイトになります。<br>
			    会員でない方も商品の観覧はできますが、<br>購入には会員登録が必要となります。
		      </h4>
		    </div>
		    <h1>おすすめ商品</h1>
			<tbody>
				変数名が入ります。
			<tr>
				<td>商品イメージ<br>
					商品めい<br>
				    値段
				</td>
			</tr>
		</tbody>

		</div>
	</div>
</div>
  <%= link_to "logout", destroy_end_user_session_path, method: :delete %>