<div class="container">
	<div class="row">
      <div class="col-3">
	    <h3>ジャンル一覧</h3>
      </div>
      <div class="col-9">
		<h4>ようこそ 、NaganoCakeへ！<br>
			このサイトは、ケーキ販売のECサイトになります。<br>
			会員でない方も商品の観覧はできますが、<br>
			購入には会員登録が必要になります。
        </h4>
			<div class="table">
				<h1>おすすめ商品</h1>
				<tr>
					<td>イメージ変数</td>
					<td>表品名</td>
					<td>料金</td>
				</tr>
			</div>
		</div>
	</div>
</div>


