<h3>マイページ</h3>
<h4>登録情報</h4>
 <%= link_to submit_tag "編集する", class:"btn btn-primary  btn-md" %>
  <%= link_to submit_tag "パスワード変更する", class:"btn btn-primary  btn-md" %>

 <th><%= @end_user.first_name %></th>