/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
    @import "bootstrap-sprockets";
    @import "bootstrap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.userheadline {
	text-align: center;
	padding-top: 20px;
}
.field{
	display: inline-block;
}
.tableline{
	padding-right: 350px;
}

.tableline1{
	padding-right: 500px;
}
.tableline2{
	padding-right: 325px;
}
.sinupheadline{
	padding-left: 100px;
}
.sinuphead{
	padding-top: 13px;
}
.up{
	padding-left: 200px;
	padding-top: 100px;
}
.pu{
	padding-top: 50px;
}
.pu1{
	padding-left: 30px;
}
.botton{
	padding-right: 400px;
}
.loginheadline{
    text-align: center;
    padding-top: 150px;
}
.logintext {
    padding-right: 500px;
    padding-bottom: 30px;
}
.submitlogin {
	padding-right: 250px;
	padding-top: 5px;
}
.passwordlogin{
	padding-left: 300px;
}
.emaillogin{
	padding-bottom: 8px;
	padding-right: 25px;
}
.sinuplogin{
	padding-right: 580px;
	padding-bottom: 10px;
}
.loginline {
	padding-right: 250px;
}


body {
	margin-top: 70px;
}
  
.userpage {
	display: inline-block;
}
table td {
	padding: 15px;
}
 td {
	border:solid 2px #333333;

}
 th {
	border:solid 2px #333333;
	background-color: #EEEEEE;

}
table {
	width: 40%;
}
.top{
	margin-top: 20px;
}
.top1{
	margin-left: 90px;
}
.use {
	padding-left: 350px;
}
.unsubscribedline{
	text-align: center;
	padding-top: 100px;
}
.unsubscribedline1{
	padding-bottom: 50px;
}
.unsubscribedline2{
     padding-top: 10px;
.btn-primary{
	margin-right: 20px;
	}
}
.body {
	margin: 20px;
}
.box{
	padding:50px;
}
.box_headline{
	 border: 5px solid black;
}