/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

 @font-face {
  font-family: 'Bluesky';
  src: url('やさしさゴシック手書き.otf') format('truetype');


 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:link { /*アクセスしたことのないリンク*/
color:#333;
}
a:visited { /*アクセスしたことのあるリンク*/
color: grey;
}
a:hover {/*マウスが上に乗っている状態*/
color:#fff;
background-color: #333;
}

.userheadline {
	text-align: center;
}
.field{
	display: inline-block;
}
.tableline{
	padding-right: 350px;
	padding-top: 12px;
}
.tableline1{
	padding-right: 530px;
}
.tableline2{
	padding-right: 330px;
}
.sinupheadline{
	padding-left: 80px;
}
.sinuphead{
	padding-top: 17px;
}
.up{
	padding-left: 200px;
	padding-top: 18px;
}
.pu{
	padding-top: 50px;
}
.pu1{
	padding-left:  50px;
	padding-top: 10px;
}
.botton{
	padding-right: 400px;
}
.loginheadline{
    text-align: center;
    padding-top: 150px;
}
.logintext {
    padding-right: 500px;
    padding-bottom: 30px;
}
.submitlogin {
	padding-right: 250px;
}
.passwordlogin{
	padding-left: 300px;
}
.emaillogin{
	padding-bottom: 8px;
	padding-right: 25px;
}
.sinuplogin{
	padding-right: 580px;
	padding-top: 10px;
}
.loginline {
	padding-right: 250px;
	padding-top: 10px;
}
body {
	margin-top: 70px;
}
table td {
	padding: 15px;
}
 td {
	border:solid 2px #333333;
}
 th {
	border:solid 2px #333333;
	background-color: #EEEEEE;
}
table {
	width: 50%;
}
.userpage {
	display: inline-block;
}
.top1{
	margin-left: 20px;
    padding-top: 30px;
}
.use {
	padding-left: 350px;
}
.unsubscribedline{
	text-align: center;
	padding-top: 100px;
}
.unsubscribedline1{
	padding-bottom: 50px;
}
.unsubscribedline2{
     padding-top: 10px;
	.btn-primary{
	margin-right: 20px;
 }
}
.body {
	margin: 20px;
}
.box{
	margin: auto;
	padding: 10px;
	width: 570px;
	background-color: #EEEEEE;
}
.box_headline{
	 border-radius: 20px;
	 padding: 50px ;  position: absolute;
  	 top: 100px;
  	 left: 250px;
     z-index: 9999;
     background-color: rgba(255,255,255,1);
     color:#ffc0cb;
}
.ckdf{
	padding: 300px;
}
header {
	text-align: center;
	height: 80px;
}
.gray{
	background-color: #EEEEEE;
}
li{
	padding-top :15px;
}

.c{
  height: 400px;
  width :100%;
}
.noborder{
	background-color:white;
}

a:link { /*アクセスしたことのないリンク*/
color:black;
}
a:visited { /*アクセスしたことのあるリンク*/
color:black;
}
a:hover {/*マウスが上に乗っている状態*/
color:white;
background-color: pink;
}
header, nav, h1,h2,h3,h4,th,td,p,footer {
    font-family: Bluesky, 'Bluesky', Courier, "Segoe Print", sans-serif;
}
.social{
	text-align: center;
	margin: 0 auto;
	padding: 15px;
}
i {
	height: 20px;
}
.slide{
	/*画像をcssで調節*/
	height: 400px;
	width: 400px;
}
.gray {
  position: relative;
  box-shadow: 0px 0px 0px 1px black;
  border: double 4px black;
  padding: 0.2em 0.5em;
  color: black;
}
.gray:after {
  position: absolute;
  content: '';
  left: -7px;
  top: -7px;
  border-width: 0 0 25px 25px;
  border-style: solid;
  border-color: #fff #fff black;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}

#gmap {
	margin: 0 auto;
    width:800px;
   height:500px;
}