<% if @address.errors.any? %>
  <div>
    <ul style="color: red">
      <% @address.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>