<footer>
	<style>
		p {
			text-align: center;
		}
	</style>
	<div class="social">
	  <%=link_to root_path do%>
	  <i class="fab fa-facebook-square"></i>
	  <% end %>
	  <%=link_to root_path do%>
	  <i class="fab fa-twitter-square"></i>
	  <% end %>
	  <%=link_to root_path do%>
	  <i class="fab fa-instagram"></i>
	  <% end %>
	</div>
	<p>CopyRight Pifubi-village.inc</p>
</footer>
