<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">

        <nav class="nav navbar-nav navbar-left">
          <span>Nagano Cakes</span>
        </nav>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <!--if文でadmin,end_userを判別し、さらにif文でそれぞれのログイン状況を判別してheaderに表示する項目を変化させる-->
           <li class="glyphicon glyphicon-home home">aaaa</li>
           <li class="glyphicon glyphicon-link about">bbbb</li>
          </ul>
        </nav>

      </div>
    </header>